<div>
    <h2>Comentários</h2>

    <div class="comentario" *ngFor="let item of arvoreNull; let i = index">
        <div>
        <p class="nome-data" (click)="modal.toggle();dadosModal(item.data.author.id)">{{ item.data.author.username }} - {{
            item.data.timestamp }}</p>

        <div class="conteudo">{{ item.data.content }}</div>

        <div class="botoes">
            <button class="btn-compartilhar">Compartilhar</button>
            <button class="btn-responder" (click)="mudaCampoResposta(i)">Responder</button>
            <button class="btn-reportar">Reportar</button>
        </div>

        <div class="resposta" *ngIf="campoResposta && index === i">
            <textarea id="resposta" name="resposta" #textarea></textarea>
            <button class="btn-enviar" (click)="addComentario(textarea.value, i)">Enviar</button>
        </div>
    </div>
        <div class="comentario" *ngIf="i > 0">
            <div *ngFor="let item of arvoreNode1">
                <p class="nome-data" (click)="modal.toggle();dadosModal(item.data.author.id)">{{ item.data.author.username }} -
                    {{ item.data.timestamp }}</p>

                <div class="conteudo">{{ item.data.content }}</div>

                <div class="botoes">
                    <button class="btn-compartilhar">Compartilhar</button>
                    <button class="btn-responder" (click)="mudaCampoResposta(i)">Responder</button>
                    <button class="btn-reportar">Reportar</button>
                </div>

                <div class="resposta" *ngIf="campoResposta && index === i">
                    <textarea id="resposta" name="resposta" #textarea></textarea>
                    <button class="btn-enviar" (click)="addComentario(textarea.value, i)">Enviar</button>
                </div>
            </div>

            <div class="comentario">
                <div *ngFor="let item of arvoreNode2">
                    <p class="nome-data" (click)="modal.toggle();dadosModal(item.data.author.id)">{{ item.data.author.username }} -
                        {{ item.data.timestamp }}</p>

                    <div class="conteudo">{{ item.data.content }}</div>

                    <div class="botoes">
                        <button class="btn-compartilhar">Compartilhar</button>
                        <button class="btn-responder" (click)="mudaCampoResposta(i)">Responder</button>
                        <button class="btn-reportar">Reportar</button>
                    </div>

                    <div class="resposta" *ngIf="campoResposta && index === i">
                        <textarea id="resposta" name="resposta" #textarea></textarea>
                        <button class="btn-enviar" (click)="addComentario(textarea.value, i)">Enviar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<app-modal #modal>
    <div class="modal">
        <div class="dados-usuario" *ngFor="let item of dadosUsuarioModal">
            <img class="avatar" src="../../assets/img/avatar{{ item.id }}.jpg" alt="Avatar">
            <div>
                <p class="nome">{{ item.username }}</p>
                <p class="data-filiacao">{{ item.memberSince }}</p>
            </div>
            <div class="btn">
                <button class="btn-adicionar" (click)="addUsuario()" *ngIf="adicionar">Adicionar</button>
                <button class="btn-adicionar" (click)="addUsuario()" *ngIf="!adicionar">Excluir</button>
            </div>
        </div>

        <div class="amigos-comum">
            <h4>Amigos em comum: </h4>
            <span *ngFor="let item of amigos">{{ item.username }}, </span>
        </div>

        <div class="posts" *ngFor="let item of posts">
            <h3>{{ item.title }}</h3>
            <h5>{{ item.subtitle }}</h5>
            <p>{{ item.content }}</p>
        </div>


    </div>
    <div class="botoes-acao">
        <button class="btn-mensagem">Mensagem</button>
        <button class="btn-reportar">Reportar</button>
        <a (click)="modal.toggle();" class="btn-cancelar">Cancelar</a>
    </div>
</app-modal>