<div>
    <h2>Comentários</h2>

    <div class="comentario" *ngFor="let item of comentarios">
        <p class="nome-data">{{ item.author.username }} - {{ item.timestamp }}</p>

        <div class="conteudo">{{ item.content }}</div>

        <div class="botoes">
            <button class="btn-compartilhar">Compartilhar</button>
            <button class="btn-responder" (click)="mudaCampoResposta()">Responder</button>
            <button class="btn-reportar">Reportar</button>
        </div>

        <div class="resposta" *ngIf="campoResposta">
            <textarea id="story" name="story"></textarea>
            <button class="btn-enviar">Enviar</button>
        </div>
    </div>
</div>
